# Banco de Dados
DB_DIALECT=postgres
DB_HOST=localhost
DB_PORT=5432
DB_USER=
DB_PASS=
DB_NAME=


JWT_SECRET=

# Administrador Padrão (Obrigatório para o setup inicial)
ADMIN_DEFAULT_NAME=
ADMIN_DEFAULT_EMAIL=
ADMIN_DEFAULT_PASSWORD=
ADMIN_DEFAULT_CPF=
ADMIN_DEFAULT_PHONE=